h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(71, 66, 66);
    font-size: 3vw;
    font-family: 'Zilla Slab';
    font-weight: 20;
}

h4 {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    justify-content: center;
    font-size: 2vw;
}

h3 {
    font-size: 2vw;
}

.vl-about {
    border-left: 3px solid #61615F;
    height: 100px;
}

.hl-about {
    padding-top: 100px;
    border-bottom: 4px solid #61615F;
}

#founders {
    height: 11vw;
}

.card-img-top {
    display: flex;
}
    
.card-body {
    text-align: left;
    /* width: 250px; */
    font-family: 'Zilla Slab';
    font-size: 1.2vw;
}

@media screen and (max-width: 320px) {

    h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {

    h4 {
        font-size: 1em;
    }
}