.App {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ededed;
}


.App-header {
  background-color: lightgrey;
  background-position: center;
  height: 370px;
  padding: 2px;
  overflow-y: hidden;
}

/* @media screen and (min-width: 1224px) {
  #container{
    width:100%;
  } 
}

@media screen and (max-width: 640px) {
  #container{
    width:100%;
  } 
}

@media screen and (max-width: 320px) {
  #container{
    width:100%;
    background-size:100%;
  } 
} */





