body {
    font-family: 'Zilla Slab';
    color: #61615F;
}

h1 {
	text-align: center;
	padding: 50px;
	margin: 50px 0 50px 0;
}

.facebook {
    display: flex;
    align-items: flex-start;
}

.google {
    padding-top: 20px;
}

.facebook button {
    height: 100px;
    background-color: #485466a8;
    max-width: 100%;
    font-size: 2.5vw;
    font-family: 'Zilla Slab';
}


.facebook button a {
    color: white;
}

.facebook button:hover {
	background-color: #6b82c7;
	color: #FFF;
}

.hl {
    border-bottom: 3px solid #61615F;
    padding-top: 15px;
    height: 1px;
    max-width: 100%;
}

.google button {
    height: 100px;
    background-color: #485466a8;
    max-width: 100%;
    font-size: 2.5vw;
    font-family: 'Zilla Slab';
}

.google button a {
    color: white;
    font-family: 'Zilla Slab';
}

.google button:hover {
	background-color: #6b82c7;
	color: #FFF;
}


.logout-button {
    height: 100px;
    background-color: #485466a8;
    max-width: 100%;
    font-size: 2.5vw;
    font-family: 'Zilla Slab';
}