.row {
    display: flex;
    flex-wrap: nowrap;
}

.header {
    min-width: calc(645px);
}

.col {
    padding: 0px;
}

.viewDay {
    text-align: right;
    padding: 0px;
    line-height: 30px;
}

.othermonth {
    background: darkgray;
}

.othermonth > .list-group-item {
    background: transparent;
}

.dayGroup {
    border-color: black;
    width: 100%;
    min-height: 90px;
    border: 1px solid gray;

}
