.row {
    display: flex;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    min-width: calc(645px);
    text-transform: uppercase;
    letter-spacing: .2em;
    /* color: rgb(49, 47, 47); */
    /* text-shadow: 2px 2px #181f54; */
    font-size: 1.5vw;
    font-family: 'Zilla Slab';
    /* font-weight: 300; */
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    justify-content: space-between;
}

span {
    color: black; 
}

.col-2-right span::before {
    display: flex;
    content: "Next"; 
    content: center; 
    text-shadow: none !important;
    justify-content: flex-end;
}

.col-2-left span::before {
    display: flex;
    content: "Previous"; 
    content: center; 
    text-shadow: none !important;
}

.col {
    padding: 0px;
}

.viewDay.list-group-item {
    text-align: right;
    padding: 0px;
    line-height: 30px;
}

.othermonth {
    background: darkgray;
}

.othermonth > .list-group-item {
    background: transparent;
}

.dayGroup {
    border-color: black;
    width: 100%;
    min-height: 126px;
    border: 1px solid gray;
}

.dayCurr {
    background-color: aquamarine;
    border-color: black;
    width: 100%;
    min-height: 126px;
    border: 2px solid green;
}

.list-group-item {
    border: 0px;
    padding: 0px;
    border-color: black;
    border: 1px solid gray;
    line-height: 30px;
    text-align: center;
}

.calDay {
    width: 100%;
}

.IncomeListItem {
    color: green;
}

.DebtListItem {
    color: red;
}