/* .EditExpense {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    color: white;
} */

.button {
    color: black
}

.check {
    position: absolute;
    left: 2rem;
}