.navbar {
    display: flex;
    justify-content: left;
    background-color: black;
}

a {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: .2vw;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px #181f54;
    font-size: 1.5vw;
    font-family: 'Zilla Slab';
    font-weight: 300;
}

nav li:last-child { 
    display: flex;
    float: right; 
}

nav li { 
    display: flex;
    list-style:none;
    margin:10px;
    float: right; 
}

.logo img {
    display: flex;
    height: 4vw;
    justify-content: flex-end;
}

.collapse navbar {
    color: white;
}