.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}

a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px #181f54;
    font-size: 1.5vw;
    font-family: 'Zilla Slab';
    font-weight: 300;
}



