.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}

a {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: .2vw;
    color: rgb(252, 252, 252);
    text-shadow: .25vw .25vw #181f54;
    font-size: 1.5vw;
    font-family: 'Zilla Slab';
    font-weight: 300;
}


img {
    height: 4vw;
}

.collapse navbar {
    color: white;
}