.container {
    max-width: 100%;
}

.wrapper {
    background-color: #485466;
    background-image: url('./header.jpeg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
}

.App-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px #181f54;
    font-size: 15vw;
    font-family: 'Zilla Slab';
    font-weight: 300;
}

#App-subtitle {
    height: 1.0em;
    margin-bottom: 1.5em;
    vertical-align: middle;
    text-align: center;
}

h3.Subtitle-bar {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #485466a8;
    transform: skew(-40deg);
}

#App-subtitle span {
    transform: skew(40deg);
    display: inline-block;
    position: relative;
    max-height: auto;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 2vw;
    font-family: 'Prata', serif;
    background-color: #ffffff00;
    text-shadow: 2px 2px #454545;
}