container {
    background-color: #1D1C1A;
    font-family: 'Zilla Slab';
}

body {
    font-family: 'Zilla Slab';
}

#log-title h1 {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

h1 {
	text-align: center;
}

.nav-item {
	display: inline;
	margin: 20px;
}

.footer {
    display: flex;
    font-size: 1vw;
    text-align: center;
    color: gray;
    text-transform: uppercase;
    padding-top: 20px;
}

h1.login-title {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px #181f54;
    font-size: 7.5vw;
    font-family: 'Zilla Slab';
    font-weight: 300;
}

#login-img {
    display: flex;
    background-color: #485466;
    background-image: url('./header.jpeg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#auth {
    padding: 80px;
}