h1 {
    color: black;
}

.jumbotron {
    margin: auto 5px;
    padding: 5px;
}

.jumbotron h1 {
    padding: 5px;
    margin: 0;
}

.jumbotron h2 {
    margin: 10px;
}

.payment {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 20px;
}

.userIcon {
    width: 175px;
    height: 150px;
    margin: auto;
}

.nav-help {
    color: grey;
    text-align: center;
}

h2 {
    padding: 5px;
    margin-bottom: 0px;
}

.tableTitle {
    text-align: center;
    font-size: 35px;
}
.saveGoalComponent {
    margin: 0px 20px;
}
.saveGoalComponent h2 {
    margin-bottom: 5px;
}
.saveGoalComponent button {
    width: 70px;
    height: 39px;
}