h1 {
    color: black;
    font-family: 'zilla slab';
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(71, 66, 66);
    font-family: 'Zilla Slab';
    font-weight: 20;
}

.jumbotron {
    margin: auto 5px;
    padding: 5px;
}

.jumbotron h1 {
    padding: 5px;
    margin: 0;
    
}

.jumbotron h2 {
    margin: 10px;
    
}

.goals {
    margin: 0px 20px;
}

.payment {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 20px;
    font-family: 'zilla slab';
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(71, 66, 66);
    font-family: 'Zilla Slab';
    font-weight: 20;
}

.userIcon {
    width: 175px;
    height: 150px;
    margin: auto;
}

.nav-help {
    color: grey;
    text-align: center;
    font-family: 'zilla slab';
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(71, 66, 66);
    font-family: 'Zilla Slab';
    font-weight: 20;
}

h2 {
    padding: 5px;
    margin-bottom: 10px;
    
}

.tableTitle {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'zilla slab';
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(71, 66, 66);
    font-family: 'Zilla Slab';
    font-weight: 20;
}